/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
.box1 {
    margin: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFD590;
    padding: 20px;
    border: 2px solid white;
}
a {
    color: black;
    text-decoration: none
}
.box2 {
    margin: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFD590;
    padding: 20px;
    border: 2px solid white;
}
.box3 {
    margin: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFD590;
    padding: 20px;
    border: 2px solid white;
}
img { max-width: 100%; }
/* Dropdown Button */
.dropbtn {
    background-color: #FFD590;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: none;
    position: absolute;
    background-color: #FFD590;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFD590;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#ffb133;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffb133;
}
